@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>Über diese Seite</h2>
<p>Diese private Webseite wurde erstelllt, um meine privaten Projekte vorzustellen und meine Programmierkenntnisse aufzubauen.
    Diese Seite wird auf einem Hetzner VPS mithilfe eines NGINX Proxyservers gehostet.</p> 
