@{
    ViewData["Title"] = "Homepage";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Willkommen auf meiner Webseite!</h1>
    <button class="btn btn-primary"><a href="https://wiki.bac-is-a-software.dev/"><i class="fa-solid fa-arrow-right"></i> Zum Wiki</a></button>
    <button class="btn btn-primary"><a href="https://codepen.io/jh3y/pen/MWzwamV"><i class="fa-solid fa-arrow-right"></i> Zu OptimusPrime</a></button>
</div>