@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Willkommen auf meiner Webseite!</h1>
    <p>Diese Seite wurde mit ASP.NET Core MVC erstellt!</p>
    <a href="https://wiki.bac-is-a-software.dev/">Hier geht's zum Wiki.</a>
</div>